.container {
    width: 800px;
    text-shadow: 1px 1px 0px black;
    box-shadow: 0px 0px 10px black;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Happy Monkey', cursive;
}


/* p {
    color: #707070;
} */

li {
    color: #707070;
    padding-bottom: 5px;
    padding-top: 5px;
}

.container>p {
    color: #707070;
}

header {
    text-align: center;
}

h1 {
    color: #DB0038;
}

h2 {
    color: #3998A3;
}

h3 {
    color: #474747;
}

.hero {
    background-color: #f4f4f4;
    text-align: center;
    padding-bottom: 10px;
}

span {
    color: #F4B400;
    font-size: 25px;
}

.rating {
    text-align: center;
}

footer {
    text-align: center;
    padding-bottom: 5px;
}